@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px 'Merriweather Sans', 'lucida sans', sans-serif;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  height:500px;
  overflow-y: scroll;
  margin: 0 auto;
}
ol li {
  padding-left: 2em;
}


.rounded-list span {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
    background: #ddd;
  color: #444;
    text-decoration: none;
  border-radius: .3em;
    transition: all .5s ease-out; 
    cursor: pointer;
}
.rounded-list span:hover{
  background: #eee;
}
.rounded-list span:before{
  position: absolute;
  content: counter(li);
  top:0px;
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  font-size:16px;
}