<div class="container">
    <div class="page-header">
      <h1>IWR - Code Generator</h1>
      <!-- <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p> -->
    </div>
    <div class="row">
      <div class="col-md-8">
        <app-robot-canva></app-robot-canva>
      </div>
      <div class="col-md-4">
      <app-history-component></app-history-component>
    </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <app-controllers></app-controllers>
        </div>
        <div class="col-md-4">
          <app-settings></app-settings>
        </div>
      </div>
</div>

